input[type="checkbox"]
{
    display: none;
} 


ul {
    display: none;
    position: absolute;
    list-style: none;
    text-align: left;
    width: 100%;
    z-index: 1;
    margin:0;
    padding:0;
    /*top: 100%;*/

}

input[type=checkbox]:checked ~ ul {
    display: block;
    /*position:absolute;*/
   /* top: 100%;*/
    left: 0px;
    /*width: 100%;*/

}


ul li {

    background-color: dodgerblue;
    color: white;
    padding: 10px; 
    
}


ul li a{
    color: inherit;
    text-decoration: none;
}


ul li:last-child {

border-bottom: 2px solid lightskyblue;
}

.menu {

    position: relative;
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    border-radius: 0 0 10px 10px;
    border-top:3px solid cornflowerblue;
    font-size: 20px;
    width: 100px;
    height: 25px;
    text-align: center;
    margin: 10px 0; 
    padding: 5px;
    z-index: 2;

}

.top {
    width:100%;
    height: 10px;
    background-color: lightgray;
    position: relative;

}


label {
     box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
}

.menu:hover {
   box-shadow: 0 0 0 3px rgba(204, 230, 255,0.7);
   /*box-shadow: -2px 1px 2px /*rgba(204, 230, 255,0.7)lightskyblue, 
    2px 1px 2px lightskyblue;*/
}

ul li:hover {

    background-color: #0080ff;
}