body {
margin: 0;
padding: 0;

}


.menu {
    margin-left: 15px; 
    position: relative;
    top:-2px;
    z-index: 1;
}

input[type="checkbox"]
{
    display: none;
    position: absolute;
} 


ul {
  
  
    position: relative;
    list-style: none;
    text-align: left;
    width: 100%;
    margin:0;
    padding:0;
    width: 124px;
    display: none;
  
    /*top: 100%;*/

}




ul li {

    background-color: #35BAF6;
    color:#fff;
    padding: 2px 0px;
    text-align: center; 
   
  
    
    
}

ul { transition: .125s linear; }

ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 19px;
}


ul li:last-child {

border-bottom: 2px solid lightskyblue;
}





.top {
    width:100%;
    height: 6px;
    background-color:#E5E5E4;
    position: relative;
    border-bottom: 1px solid #AAAAAB;
    position: relative;
    z-index: 50;

}


label {
     box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
        position: relative;
    display: inline-block;
    background-color: #35BAF6;
    color: white;
    border-radius: 0 0 10px 10px;
    border-top: 3px solid cornflowerblue;
    font-size: 20px;
    width: 124px;
    height: 25px;
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
    z-index: 2;
    border: 1px solid #0CACF4;
}

.menu:hover label {
   box-shadow: 0px 0px 15px 0px  #0CACF4;
   /*box-shadow: -2px 1px 2px /*rgba(204, 230, 255,0.7)lightskyblue, 
    2px 1px 2px lightskyblue;*/
    position: relative;
    z-index: 1;
}

ul li:hover {

    background-color: #03A9F4;
}




 .menu input[type="checkbox"]:checked +.list
{
display:block;
}
