<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link rel="stylesheet" type="text/css" href="font-awesome.min.css">

</head>

<body>
    <div class="top">
        <div class="center">
            <div class="topright">
                <div class="toplink">
                    <a href="#">Help Center <i class="fa fa-circle" aria-hidden="true"></i> </a>

                    <a href="#">Our Support </a>
                </div>
                <div class="topuser">
                    <img src="Image/man.png">
                    <a href="#"> John Doe </a>
                    <i class="fa fa-check-circle" aria-hidden="true"></i>

                </div>

            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="body">
        <div class="center">
            <div class="navigation">
                <div class="button">
                    <a href="#"> <i class="fa fa-plus" aria-hidden="true"></i>ADD A BOOK </a>
                </div>

                <div class="menu">
                    <nav>
                        <a href="#"><i class="fa fa-book" aria-hidden="true"></i>Now Reading </a>
                        <a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Browse </a>
                        <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Buy Books </a>
                        <a href="#"><i class="fa fa-star" aria-hidden="true"></i>Favourite Books </a>
                        <a href="#"><i class="fa fa-list" aria-hidden="true"></i>Whshlist </a>
                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>History </a>
                    </nav>
                </div>

                <div class="circle">
                    <nav>
                        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i>Must Read Titles </a>
                        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i>Best of List  </a>
                        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i>Classic Novels </a>
                        <a href="#"><i class="fa fa-circle" aria-hidden="true"></i>Non Fiction </a>

                    </nav>
                </div>

                <div class="add">
                    <div class="clock">
                        <div> <i class="fa fa-clock-o" aria-hidden="true"></i> </div>
                        <p>You added <a href="#">Fight Club</a> by <a href="#">Chuck Palahniuk</a> to your <a href="#">Must Read Title</a>
                            <span>24 minutes ago </span> </p>

                    </div>


                    <div class="clock">
                        <div> <i class="fa fa-clock-o" aria-hidden="true"></i> </div>
                        <p>You added The <a href="#">Trial</a> by <a href="#">Franz Kafka</a> to your <a href="#">Must Read Titles</a>.
                            <span>48 minutes ago </span> </p>
                    </div>
                </div>

            </div>
            <div class="content">
                <div class="topcontent">
                    <div class="topheader">
                        <h1>Browse Available Books </h1>
                    </div>
                    <div class="search"> 
                        <a href="#" class="active"> All Books </a>
                        <a href="#"> Most Recent </a>
                        <a href="#"> Most Popular </a>
                        <a href="#"> Free Books </a>

                        <form>
                            <label class="key"> <input type="text" placeholder="Enter Keywords"> <i class="fa fa-search" aria-hidden="true"></i><input type="submit"> </label>
                        </form>
                        <div class="clearfix"> </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>