.box {
    width: 880px;
    height: 250px;
    background-color: #A68BDD;
    color: #885BCF;
    padding: 10px;
    margin: 100px; 
    box-shadow: 0 0 0 3px lightgray;
    position:relative;
    border:1px solid mediumpurple;
    border-radius:0 10px 10px 10px; 
    z-index:0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 15px gray;
}



.cap {

 background-color: #A68BDD;
    position: absolute;
    color: #885BCF;
    bottom: 269px;
    left:-1px;
    width: 110px;
    height:40px;
   border: 1px solid #785DAF;
   /*border-bottom: 3px solid #785DAF;*/
    border-radius: 10px 10px 0 0;
    z-index: 10;
    box-shadow: 0 3px 15px gray, 0 -2px 2px #785DAF inset;
    clip: rect(-3px,115px,42px,-3px);
    font-size: 20px;
    font-weight: bold;
    
    /*text-align: center;
    vertical-align: middle;*/


}

span {

   text-align: center;
    vertical-align: middle; 
    padding: 10px;
    position: absolute;

}
/*.cap:before{
    content:"";
  box-shadow: 0 -3px 3px lightgray;
    position: absolute;
    /*bottom: 10px;
    width: 60px;
    height: 20px;
    background-color: lightgray;
    left: 0px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 3px lightgray;*/
    /*z-index: -1;
    /*position:relative;



}*/

/*.arrow-box:after {
    content:"Caption";
    color: rebeccapurple;
    background-color: mediumpurple;
    border:1px solid gray; 
    position: absolute;
    bottom: 100%;
    left:0;
    width: 60px;
    height:20px;
    border: 1px solid grey;
    border-radius: 5px;
}*/