.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    padding-bottom: 50px;
}

.img {


    /*padding: 10px;*/
    margin: 0 auto;
    margin: 13px 0px 10px 0px;
    display: inline-block;

    width: 90%;
    height: 315px;
    box-sizing: border-box;
    position: relative;
   /* opacity: .25;*/
   /* z-index: -1;*/
   background: url(th1.png) no-repeat;
   background-size: cover;

   
    

}

.img2{
      /*padding: 10px;*/
    margin: 0 auto;
    margin: 13px 0px 10px 0px;
    display: inline-block;

    width: 90%;
    height: 315px;
    box-sizing: border-box;
    position: relative;
   /* opacity: .25;*/
   /* z-index: -1;*/
   background: url(th2.png) no-repeat;
   background-size: cover;

}

img {


    /*padding: 10px;*/
    margin: 13px 0px 10px 0px;
    width: 90%;
    height: 315px;
    box-sizing: border-box;
    position: relative;
   /* opacity: .25;*/
   /* z-index: -1;*/
   
    

}
.image {
border: 1px solid gray;
text-align: center;
border-radius: 4px;
}

.container {

    width: 1028px;
    margin: 0 auto;

}

.float 
{
    width: 1026px;
    margin: 10px;
    position: relative;
  /*  border: 1px solid gray;
*/
    
}

button {
    background-color: white;
    border:1px solid gray;
    width: 140px;
    height: 40px;
    /*margin-right: 10px;*/
    
    display:inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    top:100%;
    color: gray;
    /*position: relative;*/
    /*position: absolute;*/
   

 
}

p {

width: 300px;
height: 315px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: #fff;
/*opacity: 0;*/
position: absolute;

}

img:hover:before { 

 content: "";
 width: 300px;
 height: 315px;
 background: black;
 z-index: 1000;

/*box-shadow:0 0 0 157px rgba(0, 0, 0, 0.3) inset;*/

/*opacity:1;*/
      
}



span {
    color: limegreen; 
}



.details:hover {
    background-color: limegreen;
}

.demo:hover {
    background-color: limegreen;
}

.pic1,.pic2,.pic3,.pic4,.pic5,.pic6  {

position: relative;
width: 300px;
height: 370px;
margin: 20px;
/*border:1px solid gray;*/
float: left;

}



.details {
float:left;
margin: 10px 5px 0 0;

}

.demo {

float:right;
margin: 10px 0 0 5px;

}


.block {

    width: 1034px;
    margin: 10px;
    position: relative;
    /*border: 1px solid gray;*/

}

.bpic1,.bpic2,.bpic3,.bpic4,.bpic5,.bpic6  {

position: relative;
width: 300px;
height: 370px;
margin: 20px;
/*border:1px solid gray;*/
display: inline-block;

}

.bdetails {

margin:10px 5px 0 0;

}

.bdemo {


margin: 0 0 0 10px;

}

.bdetails:hover  {
    background-color: limegreen;

}

.bdemo:hover {
    background-color: limegreen;
}



.flex 
{
    width: 1026px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
}

.fpic1,.fpic2,.fpic3,.fpic4,.fpic5,.fpic6  {

position: relative;
width: 300px;
height: 370px;
margin: 20px;
justify-content: space-around;
/*display: flex;*/

} 



.fdetails {

margin:10px 5px 0 0;

}

.fdemo {


margin: 0 0 0 10px;

}


.fdetails:hover  {
    background-color: limegreen;

}

.fdemo:hover {
    background-color: limegreen;
}

.shadow {
width: 100%;
height: 100%;
position: absolute;
background: rgba(0,0,0,0.5);
top:0px;
display: none;

}

.shadow p {
    color: white;
    width:100%;
    position: relative;
    top:81px;


    

}

.grey{
    color: #85847F;
}

.image:hover .shadow {

    display: block;

}